.*
!.gitignore
!.gitattributes
*.pyc
*.log
*.Log
*.out
_*

src/
env/
programs/
core

results/*
!results/summary

!results/escape_scores
results/escape_scores/*
!results/escape_scores/escape_scores_homologs.csv

!results/EC50_scores
results/EC50_scores/*
!results/EC50_scores/EC50_scores_homolog_barcodes.csv
!results/EC50_scores/EC50_scores_homologs.csv

!results/counts
results/counts/*
!results/counts/variant_counts.csv
